<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<!--Contenu global de la page-->
<div class="container main-zone" style="padding: 1px">
    <!--Panel général de la page-->
    <div class="panel panel-default" id="add-taxon-zone" style="padding: 10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3>Ajouter un taxon</h3>
                </div>
            </div>
        </div>
        <!--Corps du panel général-->
        <div class="panel-body">

            <!-- Formulaire pour ajouter un taxon -->
            <form name="addTaxonForm" ng-submit="ctrl.addTaxon(ctrl.newTaxon)">

                <!-- Les différents champs du formulaire -->

                <!-- 
                cd_nom == cd_ref ==> à générer automatiquement négatif (clé primaire)
                 -->

                 <div class="form-group"> <!-- lb_nom -->
                    <label for="inputNom">Nom du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- nom_complet -->
                    <label for="inputNom">Nom complet du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- nom_complet_html -->
                    <label for="inputNom">Nom complet html du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- nom_valide -->
                    <label for="inputNom">Nom valide du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- nom_vern -->
                    <label for="inputNom">Nom vern du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- nom_vern_eng -->
                    <label for="inputNom">Nom vern eng du taxon</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- id_statut -->
                    <label for="inputNom">Statut</label> <!-- Choix dans une liste à générer par requête à la bb -->
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- id_habitat -->
                    <label for="inputNom">Habitat</label> <!-- Choix dans une liste à générer par requête à la bb -->
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- id_rang -->
                    <label for="inputNom">Rang</label> <!-- Choix dans une liste à générer par requête à la bb -->
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- regne -->
                    <label for="inputNom">Règne</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- phylum -->
                    <label for="inputNom">Phylum</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- classe -->
                    <label for="inputNom">Classe</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- ordre -->
                    <label for="inputNom">Ordre</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- famille -->
                    <label for="inputNom">Famille</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- sous_famille -->
                    <label for="inputNom">Sous famille</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- tribu -->
                    <label for="inputNom">Tribu</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- group1_inpn -->
                    <label for="inputNom">Groupe INPN 1</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- group2_inpn -->
                    <label for="inputNom">Groupe INPN 2</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- group3_inpn -->
                    <label for="inputNom">Groupe INPN 3</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- cd_taxsup -->
                    <label for="inputNom">cd_taxsup</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- cd_sup -->
                    <label for="inputNom">cd_sup</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- url -->
                    <label for="inputNom">URL</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <div class="form-group"> <!-- lb_auteur -->
                    <label for="inputNom">Nom du l'auteur de cet ajout</label>
                    <input type="text" class="form-control" id="inputNom" ng-model="ctrl.newTaxon.nom" required>
                </div>

                <!-- Bouton pour soumettre le formulaire -->
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </div>
</div>


